#buttons{
    padding: 20px
}

#buttons a{
    margin-left: 20px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
}

.fa-twitter {
    background: white;
}

.fa-instagram {
    background: #da693d;
}

.fa-youtube {
    background: #ce3030;
}

.copy {
    font-size: 20px;
}

.copy a {
    text-decoration: none;
    color: #E50914;
    padding-left: 5px;
}

.site-footer {
    background-color: #221F1F;
    height: 150px;
    text-align: center;
    color: white;
    padding-bottom: 30px;
}

.social-media {
    margin-top: 20px;
}

.container .copy{
    margin-bottom: 30px;
}

#copy{
    background-color: #221F1F;
    padding-bottom: 10px;
}

@media (min-width: 320px) {
    .fa {
        padding: 15px;
        font-size: 15px;
        width: 15px;
    }

    .copy {
        padding: 0 10px;
        font-size: 15px;
        margin-bottom: 10px;
    }

    .site-footer {
        height: 140px;
        margin-bottom: 0px;
    }

}

@media (min-width: 480px) {
    .fa {
        font-size: 18px;
        width: 18px;
    }

    .fa img{
        margin-top: 10px;
        width: 20px;
        height: 15px
    }

    .copy {
        font-size: 18px;
    }
}

@media (min-width: 760px) {
    .fa {
        font-size: 21px;
        width: 21px;
    }

    .fa img{
        margin-top: 10px;
        width: 25px;
        height: 20px
    }

    .copy {
        font-size: 22px;
    }
}

@media (min-width: 980px) {
    .fa {
        font-size: 30px;
        width: 30px;
    }

    .fa img{
        margin-top: 10px;
        width: 35px;
        height: 30px
    }

    .copy {
        font-size: 30px;
    }
}